<!doctype html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet"
              href="{{ url_for('static', filename='default.css') }}">
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div class="topnav">
    <a>Mang & Mang Banking</a>
    <a href = '/'>
        <img src="/static/MangnMang.png"
         alt="Mang & Mang Corporations"
         width="50"
         height="50"
        >
    </a>


</div>

<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
        <copyright>
            &copy; Copyright 1874 - 2025 by Mang & Mang Corporations
        </copyright>

    {% endblock %}
</div>
</body>
</html>